# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.env/
.envrc
.venv/

# Arquivos temporários
*.log
*.tmp
*.bak

# Arquivos Jupyter
.ipynb_checkpoints/

# Arquivos do Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# Cache do Streamlit
**/.streamlit/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos gerados
grafico_vendas.png

# IDEs
.vscode/
.idea/
